%h1 Submit solution

= form_for @submission, url: submissions_path do |f|
  = f.select(:task, Task.all.map {|t| [t.name, t.id] })
  %br
  = f.text_area :source, {:class => "code-editor"}
  %br
  = f.submit 'Submit'
